
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~mdi/css/materialdesignicons.min.css';
@import '~pikaday/scss/pikaday.scss';
@import '~simple-line-icons/css/simple-line-icons.css';

//Vendors
@import 'spec/settings/index';
@import 'spec/tools/index';
@import 'spec/index';
@import 'jquery.datatables';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';
@import '~perfect-scrollbar/css/perfect-scrollbar';
@import './teamify-icons';
@import '~font-awesome/css/font-awesome.min.css';
@import '~fullcalendar/dist/fullcalendar.min.css';
@import '~react-datepicker/dist/react-datepicker.min.css';

$ionicons-font-path: "~ionicons/dist/fonts";
@import '~ionicons/dist/css/ionicons.min.css';

//Personal
@import './style';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
